body {
	margin:0;
	font-family:Helvetica;
}

#header {
	/* Colors */
	color: #d7d3c7;
	background-color: #003359;
	
	/* Font */
	text-align:center;
	font-weight:bold;
	font-style:italic;
	
	font-size:30pt;
	
	/* Borders */
	border-bottom: 1px solid black;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 5px 5px 5px #888888;
	
	/* Spacing */
	padding:5px;
	margin-bottom:15px;
	
	cursor:pointer;
}

#user_info {
	width:50%;
	align: center;
	margin: auto;
	margin-top:2%;
	padding: 5px;
	color:white;
	text-align:center;
	background-color: #003359;
	border-radius:10px;
	
}
#user_info a {
	text-decoration: none;
	color: #fff;
}
#user_info a:hover {
	color: #ff0;
}

#content {
	width: 100%;
	
	padding-bottom:15px;
	border-color: #5c7f92;
	box-shadow: 0px 5px 5px #888888;
	border: solid 1px #888888;
	
	background-color: #F9F9FF;
}

#content form {
	width:100%;
}

#footer {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	font-size: 10pt;
	color: grey;
	font-style: italic;
}
#footer img {
	width:20%;
	margin-bottom: 5px;
}


.field {
	text-align: left;
}

.field .label {
	width:45%;
	float:left;
	
	margin: auto;
	padding-right:3px;
	text-align:right;
}

.field * {
	
	display: inline-block;
    vertical-align: middle;
}
.field #geo_location_visible {
	color:grey;
	font-style: italic;
	font-size:10pt;
}

.field .highlight_input {
	border: solid 2px black;
	background: red;
	
}

#tbl_search {
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	width: 90%;
	border-collapse: collapse;
	box-shadow: 5px 5px 5px #888888;
	border: solid 1px #888888;
}

#tbl_search * {
	border:solid 1px black;
	margin:0;
	padding:5px;
}


#tbl_search th{
	text-align:center;
	background-color:#CCCCFF;
}

table .clickableRow * {
	cursor: pointer;
	background-color:white;
}
table .clickableRow:hover * {
    background-color: #F0F0FF;
}
table .clickableRow:click * {
    border-weight: 2px;
    font-weight:bold;
}


/* Profile Page */
.profile_table {
	margin:auto;
	margin-top:2%;
	margin-bottom:4%;
	width:90%;
	padding:10px;
	background: #CCCCFF;
	box-shadow: 5px 5px 5px #888888;
	border: solid 1px #888888;
	border-radius:10px;
}
#status_table {
	background: #A3FFA3;
}

.profile_table .profile_title {
    font-size:14pt;
    font-weight:bold;
    font-style:italic;
    text-align: left;
    background: #F0F0FF;
    margin-top:5px;
    padding:3px;
    padding-left:20px;
    
	
}
#status_table .profile_title {
	background: #EDFFED;
}

.profile_table .profile_section {
    background:white;
    border-top: solid 1px #F0F0FF;
    padding:3px;   
}

.profile_table .profile_label {
    width:45%;
    display: inline-block;
    padding-right:3px;
    text-align:right;
    background: white;
    padding:2px;
    margin: auto;
}

.profile_table .profile_value {
	width:45%;
	padding:2px;
	font-weight:bold;
    text-align:left;
    display: inline-block;
    vertical-align: middle;
}


.profile_table .imageBox {
	width:19%;
	margin:5px;
	padding:5px;
	display: inline-block;
	text-align:center;
	
	background:white;
	border:solid 1px grey;
	box-shadow: 5px 5px 5px #888888;
}

.profile_table .imageBox img {
    width:100%;
}
.profile_table .imageDescripton {
    font-size:10pt;
    text-align:center;   
}

.profile_table input, textarea, select {
	width: 95%;
}


#person_messages {
	margin:auto;
    margin-top:4%;
    margin-bottom:4%;
    width:85%;
    background: white;
    box-shadow: 5px 5px 5px #888888;
    border: solid 1px #888888;
    border-radius:10px;
    background:#FFFFF8;
    
    padding:0px;
    padding-bottom: 15px;
}

#person_messages .message_title {
	font-size:14pt;
    font-weight:bold;
    font-style:italic;
    text-align: left;
    background: #FFFF80;
    padding:3px;
    padding-left:20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
    margin-bottom:10px;
}

#person_messages .message_item {
	width:90%;
	margin:auto;
	border:solid 1px black;
	background:white;
	
	margin-top:10px
}
#person_messages .message_header {
	text-align:center;
	padding:3px;
	color:grey;
	font-size:10pt;
	
}

#person_messages .message_status {
    text-align:left;
    font-weight:bold;
    padding:5px;
    font-size:14pt;
    padding-left:10px;
    	
}
#person_messages .message_content {
    padding:10px;
    font-style:italic;
    text-align:center;
}


#person_messages .message_location {
    padding-right:10px;
    font-size:11pt;
    text-align:right;
}

#identify_form {
	margin:auto;
	margin-top:2%;
	text-align:center;
}


input[type=submit] {
	padding:5px 15px; 
	background:#E6E65C; 
	border:1px solid black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    box-shadow: 3px 3px 3px #888888;
}

.submit {
    margin:auto;
    margin-top:2%;
}
.submit a {
	text-decoration:none;
}

input[type=submit], .submit {
    -moz-box-shadow: 3px 4px 0px 0px #979ab8;
    -webkit-box-shadow: 3px 4px 0px 0px #979ab8;
    box-shadow: 3px 4px 0px 0px #979ab8;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #c7b9c7));
    background:-moz-linear-gradient(top, #fafafa 5%, #c7b9c7 100%);
    background:-webkit-linear-gradient(top, #fafafa 5%, #c7b9c7 100%);
    background:-o-linear-gradient(top, #fafafa 5%, #c7b9c7 100%);
    background:-ms-linear-gradient(top, #fafafa 5%, #c7b9c7 100%);
    background:linear-gradient(to bottom, #fafafa 5%, #c7b9c7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#c7b9c7',GradientType=0);
    background-color:#fafafa;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#5844c7;
    font-family:arial;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
}
input[type=submit]:hover, .submit:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7b9c7), color-stop(1, #fafafa));
    background:-moz-linear-gradient(top, #c7b9c7 5%, #fafafa 100%);
    background:-webkit-linear-gradient(top, #c7b9c7 5%, #fafafa 100%);
    background:-o-linear-gradient(top, #c7b9c7 5%, #fafafa 100%);
    background:-ms-linear-gradient(top, #c7b9c7 5%, #fafafa 100%);
    background:linear-gradient(to bottom, #c7b9c7 5%, #fafafa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7b9c7', endColorstr='#fafafa',GradientType=0);
    background-color:#c7b9c7;
}
input[type=submit]:active, .submit:active {
    position:relative;
    top:1px;
}


#mesh_table table {
	margin: 0 auto;
}

@media only screen and (max-device-width: 480px) {
    #header {
       font-size:60pt;
    }
    body {
       font-size: 250%;
    }
    input, textarea, select {
       font-size: 30px;
    }
    #user_info {
        width:80%;
    }
}
